body {
  background-image: url("images/Shell_background.jpg");
  color: rgba(100, 100, 100, 0.9);
  font-size: 16px;
  line-height 1.1;
  font-family:'Varela Round', sans-serif;
}

h1, h2, h3 {
  color: #16697a;
  font-size: 32px;
  line-height: 1.6;
  font-family: 'Roboto Mono', monospace;
}

a {
  color:#4c6ef5 ;
  background-color: #rgba(248,241,241,0.9) ;
  text-decoration: none;
}

a:hover {
  color: #f8f1f1;
  background-color: #4c6ef5;
  text-decoration: none;
}

.container {
  width: 800px;
  margin: 10px auto;
  padding : 10px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.card {
  box-shadow: rgb(50, 50, 93) 0px 2px 5px -1px;
  margin: 32px auto;
  background-color: rgba(248,241,241,0.95);
  padding: 30px;
  border-radius: 4px;
}

.img-circle {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.text-center {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 45%;
  padding: 0 4px;
}

.img-logo img {
  margin-top: 8px;
  vertical-align: middle;
  width: 200px;
  height: auto;
}

.picto {font-size: 32px;}

.title {
  display:flex;
  font-size: 32px;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

#flip-horizontally {
  transform: scaleX(-1);
}
